@layout('layouts/main')
@set('title', 'Home')

@section('body')

<div class="flex justify-center">
    <div class="m-auto text-center">
        <h1>Error 404</h1>
        <h2>Página não encontrada</h2>
        <p>A página que você tentou entrar pode estar com problema ou ter sido removida.</p>
    </div>
</div>
    
@end